.Game {
}

.Card {
  float: left;
  width: 11rem;
  height: 6rem;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid black;
  text-align: center;
  background-color: black;
  transform-style: preserve-3d;
  transition: transform 1s;

  // .Card--flipped
  &--flipped {
    background-color: gray;
    transform: rotateY( 180deg );
  }

  // .Card--matched
  &--matched {
    background-color: green;
  }
}
